/*Global*/
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/*Header*/
header{
    background-color: purple;
}
.header_container{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
}



/*Footer*/
footer{
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerlinks{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    margin-top: 10px;

}

.footerCR{
    display: flex;
    align-items: center;
    gap: 25px;
    color: gray;

}


/* Grid smaller images */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.grid img{
    width: 250px;
}


/* gamedetails page */	
.headerGD{
    
}
.containerGD {
    display: flex;
    gap: 20px;
}
.sidebarGD {
    width: 250px;
}
.main-contentGD {
    flex: 1;
}
.card img {
    max-width: 100%;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
button {
    padding: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
select {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

/* Makes cards interactable */
.game-card {
    cursor: pointer;
}

