/*Global*/
body{
    margin: 0;
    font-family: 'Segoe UI'; 
    color: #333333;
}
a{
    text-decoration: none;
    color: inherit;
}

/*Header*/
header {
    background-color: #643EBB;
}

#hlogo img{
    width: 100px;

}
.header_container {
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    padding: 1rem;
}
.header_container img {
    width: 60px;
}

.header_container a {
    padding: 0.5rem 1rem;
    border-radius: 6px;
}
.header_container a:hover {
    background-color: #ffffff1a;
}

/* Main Content */
h1 {
    text-align: center;
    color: #4a1d96;
    font-family: 'Franklin Gothic Medium';
}

.game-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px #0000001a;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.game-card h3 {
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
    color: #2d3748;

}
/*Footer*/
footer{
    background-color: #4a4a4a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerlinks{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
    margin-top: 10px;
}

.footerlinks a:hover{
    color: #6b46c1;
}

.footerCR{
    text-align: center;
    color: #a0aec0;

}


/* Grid smaller images */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.grid img{
    width: 250px;
}


/* gamedetails page */	
.containerGD {
    display: flex;
    gap: 20px;
}
.sidebarGD {
    width: 400px;
}
.main-contentGD {
    flex: 1;
}
.card img {
    max-width: 100%;
}
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}
button {
    padding: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
select {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

/* Makes cards interactable */
.game-card {
    cursor: pointer;
}

.game-card:hover {
    transform: scale(1.05);
}

/* Stuff to make stuff reactive and look better on mobile */
@media (max-width: 768px) {
    .header_container {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    
    .containerGD {
        flex-direction: column;
    }
    
    .sidebarGD {
        width: 100%;
    }
}