/*Global*/
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

/*Header*/
header{
    background-color: purple;
}
.header_container{
    display: flex;
    align-items: center;
    gap: 25px;
    color: white;
}

/* Grid smaller images */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.grid img{
    width: 250px;
}