<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<!-- header -->
<header>
    <div class="header_container">
        <img src="{{ url_for('static', filename='Images/MGL_Logo.svg') }}" alt="MyGameLists Logo">
        <a href="{{ url_for('index') }}">Home</a>
        {% if session.get('logged_in') %}
            <a href="{{ url_for('list') }}">My List</a>
            <span>In Session ({{ session.get('username') }})</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <span>Out of Session</span>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
</header>

<body>
    <!-- Header -->
    <div class="headerGD">
        <h1 id="GDname">Loading game details...</h1>
    </div>

    <div class="containerGD">
        <!-- Sidebar -->
        <div class="sidebarGD">
            <div class="card">
                <img id="GDimage" src="https://images.pexels.com/photos/8058392/pexels-photo-8058392.jpeg" alt="Game image">
                <!-- game status -->
                <select id="gameStatus">
                    <option value="Game status" selected disabled>Game status</option>
                    <option value="Playing">Playing</option>
                    <option value="Plan to Play">Plan to Play</option>
                    <option value="Finished">Finished</option>
                    <option value="Dropped">Dropped</option>
                    <option value="On Hold">On Hold</option>
                </select>
                
                <!-- game score -->
                <select id="gameScore">
                    <option value="0" selected disabled>Score</option>
                    <option value="10">10 - Masterpiece</option>
                    <option value="9">9 - Great</option>
                    <option value="8">8 - Very Good</option>
                    <option value="7">7 - Good</option>
                    <option value="6">6 - Fine</option>
                    <option value="5">5 - Average</option>
                    <option value="4">4 - Bad</option>
                    <option value="3">3 - Very Bad</option>
                    <option value="2">2 - Horrible</option>
                    <option value="1">1 - Appalling</option>
                </select>
                
                <button id="addToListBtn">Add to List</button>
            </div>
        </div>
        <main>
        <!-- Main content -->
        <div class="main-contentGD">
            
            <div class="card">
                <div id="score">Loading...</div>
                <div id="ranking">Loading...</div>
                <div id="released">Released: Loading...</div>
                <div id="genre">Genre: Loading...</div>
                <div id="developer">Developed by: Loading...</div>
            </div>
            
            <!-- Synopsis -->
            <div class="card">
                <h3 id="GDsummary">Summary</h3>
                <p id="GDsummarytext">Loading game summary...</p>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="footerlinks">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('support') }}">Support</a>
        <a href="{{ url_for('terms') }}">Terms</a>
        <a href="{{ url_for('privacy') }}">Privacy</a>
        <a href="{{ url_for('cookies') }}">Cookies</a>
    </div>
    <div class="footerCR">
        <p>MyGameLists is a property of MyGameLists Co., Ltd. ©2025 All Rights Reserved.</p><br>
        <p>All game data is fetched from https://rawg.io/</p>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/gameDetails.js') }}"></script> 
</body>
</html>