<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk 2077</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<!-- header -->
<header>
    <div class="header_container">
        <h1 id="Hlogo">LOGO HERE</h1>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </div>
</header>

<body>
    <!-- Header -->
    <div class="headerGD">
        <h1 id = "GDname">Cyberpunk 2077</h1>
        <p>Action RPG by CD Projekt Red</p>
  </div>

    <div class="containerGD">
        <!-- Sidebar -->
        <div class="sidebarGD">
            <div class="card">
                <img id="GDimage" src="https://images.pexels.com/photos/8058392/pexels-photo-8058392.jpeg" alt="Cyberpunk 2077">
                <!-- game status -->
                <select>
                    <option selected>Game status</option>
                    <option>Playing</option>
                    <option>Plan to Play</option>
                    <option>Finished</option>
                    <option>Dropped</option>
                    <option>On Hold</option>
                </select>
                
                <button>Add to List</button>
            </div>
        </div>
        
        <!-- Main content -->
        <div class="main-contentGD">
            
            <div class="card">
                <div>Score: 8.4</div>
                <div>Ranked: #327</div>
                <div>Released: December 2020</div>
                <div>Genre: Action RPG</div>
            </div>
            
            <!-- Synopsis -->
            <div class="card">
                <h3 id="GDsummary">Summary</h3>
                <p id = "GDsummarytext">Immerse yourself in the Cyberpunk universe, from the original storyline of Cyberpunk 2077 and its gripping spy-thriller expansion Phantom Liberty to the award-winning anime series Cyberpunk: Edgerunners — there are countless stories to discover in the deadly megalopolis of Night City.</p>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
    <!-- Will change the placeholder stuff to the actial game details from the ip fetched from localstrage, -->
    <script src="../static/js/gameDetails.js"></script> 
</body>
</html>