<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyberpunk 2077</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<!-- header -->
<header>
    <div class="header_container">
        <img src="../static/Images/MGL_Logo.svg" alt="MyGameLists Logo">
        <a href="{{ url_for('index') }}">Home</a>
        {% if session.get('logged_in') %}
            <span>In Session ({{ session.get('username') }})</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <span>Out of Session</span>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </div>
</header>

<body>
    <!-- Header -->
    <div class="headerGD">
        <h1 id = "GDname">API error</h1>
  </div>

    <div class="containerGD">
        <!-- Sidebar -->
        <div class="sidebarGD">
            <div class="card">
                <img id="GDimage" src="https://images.pexels.com/photos/8058392/pexels-photo-8058392.jpeg" alt="Cyberpunk 2077">
                <!-- game status -->
                <select>
                    <option selected>Game status</option>
                    <option>Playing</option>
                    <option>Plan to Play</option>
                    <option>Finished</option>
                    <option>Dropped</option>
                    <option>On Hold</option>
                </select>
                
                <button>Add to List</button>
            </div>
        </div>
        <main>
        <!-- Main content -->
        <div class="main-contentGD">
            
            <div class="card">
                <div id="score">Score: 8.4</div>
                <div id="ranking">Ranked: #327</div>
                <div id="released">Released: December 2020</div>
                <div id="genre">Genre: Action RPG</div>
                <div id="developer">Developed by:</div>
            </div>
            
            <!-- Synopsis -->
            <div class="card">
                <h3 id="GDsummary">Summary</h3>
                <p id = "GDsummarytext">If this page persists, there has been an error fetching api content.</p>
            </div>
        </div>
    </div>
</main>

<footer>
        <div class="footerlinks">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('support') }}">Support</a>
            <a href="{{ url_for('terms') }}">Terms</a>
            <a href="{{ url_for('privacy') }}">Privacy</a>
            <a href="{{ url_for('cookies') }}">Cookies</a>
        </div>
        <div class="footerCR">
            <p>MyGameLists is a property of MyGameLists Co., Ltd. ©2025 All Rights Reserved.</p>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
    <!-- Will change the placeholder stuff to the actial game details from the ip fetched from localstrage, -->
    <script src="../static/js/gameDetails.js"></script> 
</body>
</html>