<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyGameLists - Login</title>
    <link rel="stylesheet" href="../static/css/style.css">


</head>
<body>
<!-- header -->
<header>
    <div class="header_container">
        <img src="../static/Images/MGL_Logo.svg" alt="MyGameLists Logo">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="login.html">Login</a>
        <a href="register.html">Register</a>
    </div>
</header>

<!-- main -->
<h1>Popular</h1>
<div class="grid" id="imageGrid"></div>
<!-- Homepage with list of most poplular games is here --> 
 
<!-- Button to load more games from next rawg page -->
<div class="loadMore">
    <button id="loadMoreBtn">Load More</button>
</div>
<script src="../static/js/script.js"></script>

<footer>
    <div class="footerlinks">
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="support.html">support</a>
        <a href="terms.html">Terms</a>
        <a href="privacy.html">Privacy</a>
        <a href="cookies.html">Cookies</a>
    </div>
    <div class="footerCR">
        <p>MyGameLists is a property of MyGameLists Co., Ltd. ©2025 All Rights Reserved.</p>
    </div>
</footer>
</body>
</html>